@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background: #; */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, #84fab0, #8fd3f4);
    background-size: 400% 400%;
    background-position: 0% 100%;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes anim {
    from {
        background-position: 0% 100%;
    }

    to {
        background-position: 100% 0%;
    }
}